In [1]:
import pandas as pd

full_df = pd.read_csv("concatenated_dataset.csv")

In [2]:
full_df

                                                  content  label
0                                  일안하는 시간은 쉬고싶어서 그런게 아닐까      0
1       아동성범죄와 페도버는 기록바 끊어져 영원히 고통 받는다. 무슬림 50퍼 근친이다. ...      1
2       루나 솔로앨범 나왔을 때부터 머모 기운 있었음 ㅇㅇ Keep o  doin 진짜 띵...      0
3       홍팍에도 어버이연합인가 보내요 뭐 이런뎃글 있는데 이거 어버이연합측에 신고하면 그쪽...      0
4       아놔 왜 여기 댓들은 다 여자들이 김치녀라고 먼저 불렸다! 여자들은 더 심하게 그런...      1
...                                                   ...    ...
130825                 아...내가 제일 싫어하는 싸보이는 여자네...진짜 싼티난다.      0
130826  ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ 파혼했는데 좋은 선후배여윾시 개그맨 것들은 ...      2
130827                        니기미 나는 흔한공황장애 장애가 없어서 벌금이빠이      1
130828                                  도 찌질하네 과거들추기는 추하다      0
130829  할매젖x, 뱃살x, 몸매 s라인, 유륜은 적당해야됨(너무크거나 너무 작아도 x), ...      0

[130830 rows x 2 columns]

In [3]:
# label이 2인 것 발견
full_df.loc[full_df['label'] > 1]

                                                  content  label
30834   동료 여경 집단 성희롱’ 태백 경찰관들 12일 징계 논의-----예비강간마새끼들 기...      2
30841     여튼 애완동물키우는놈들 다 죽었으면 ㅉ 좁은 집안에서 키우는거 자체가 학대인걸 모르나      3
30859                                   스가잔당들이 처~먹을 생선들인가      3
30865         설마 했는데 역시 중공이었네... 짱깨들 맥주40병 쳐마신게 ...왜 ....      3
30868                         Cㅂ ㅏ ㅇ ㅏㄱ ㅏㅃ ㅏ 뤼 다 트자 뿔 ㄹ ㅏ      2
...                                                   ...    ...
130793                             헬조선 김치들의 마녀사냥 토할거같다...      2
130809                                    어장관리 하는 저질 프로그램      2
130811  칼들고?진짜 살인 할듯.. 소시오패스인가?엿을 날려? 인성이 쓰레기급 ㄷㄷ 근데 애...      3
130819  저 성폭력 당했어요 이게유행이냐 왜 들하고나서 지랄들이야 안할라면 얼마든지 안할수잇...      2
130826  ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ 파혼했는데 좋은 선후배여윾시 개그맨 것들은 ...      2

[12255 rows x 2 columns]

In [8]:
# label count
len(full_df.loc[full_df['label'] > 1])

12255

In [9]:
# label이 2인 값들을 1로 변환
full_df = full_df.replace({'label':3},1)
full_df = full_df.replace({'label':2},1)

In [10]:
# label에 2가 없는 것 확인
len(full_df.loc[full_df['label'] > 1])

0

In [11]:
train_df = full_df.sample(frac=0.6,random_state=2023)

In [12]:
len(train_df)

78498

In [13]:
test_df = full_df.drop(train_df.index)

In [14]:
len(test_df)

52332

In [15]:
78498 + 52332

130830

In [16]:
len(full_df)

130830

In [17]:
train_df.to_csv("concatenated_dataset_train.csv", encoding='utf-8-sig', index=False)
test_df.to_csv("concatenated_dataset_test.csv", encoding='utf-8-sig', index=False)